body{
  display: flex;
  justify-content: center;

}
h2 {
  text-align: center;
  font-weight: 200;
  font-size: 50px;
  padding: 10px;
}
ul {
  list-style: none;
  margin: 0;
  margin-bottom: 15px;
}
form {
  text-align: center;
  margin-top: 12px;

  width: 100%;
}

img {
  position: relative;
  top: -20px;
  height: 85px;
  width: 85px;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  padding: 15px;
}

.github {
  display: block;
  margin-top: 0;
  text-align: center;
}

.weather-app{
  
  margin: 75px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 25px;
  max-width: 700px;

  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

.weather-details {
  text-align: right;
}

.city-search {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 15px;
  border: 1px solid #040505;
  border-radius: 4px;
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
}
.city-submit {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 15px;

  border-radius: 4px;
  line-height: 1.5;
  color: #fff;
  background: #0069d9;
  border: #0069d9;
  font-family: "Courier New", Courier, monospace;
}
